.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 40%;
    min-height: 70vh;
    background: url("../../assets/images/back.jpeg");
    background-size: cover;
    background-position: center;
    margin: 0 auto;
  }
  
  .formContainer {
    text-align: center;
  }
  
  .buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .roleButton {
    background-color: #bca578;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 150px;
  
    &:hover {
      background-color: #a78f67;
    }
  }
  
  .link {
    text-decoration: none;
    color: #bca578;
    margin-top: 10px;
    font-size: 14px;
  }
  
  .register {
    text-decoration: none;
    color: #bca578;
    font-size: 16px;
    margin-top: 20px;
  }
  